.container{
    outline: solid red;
    margin: auto;
    width: 1233px;
}
:root{
    --Main-Red:#DD2242;
    --mein-black:#010A20;
    --mein-wite:#FFF;
    --mein-gray:#E0E0E0;
    --blue:#DCE8F2;
    --back:#010A20;
}
header{
    background-color:red;
}

.header{
    display: flex;
    padding-top: 40px;   
}

.addres{
    padding-top:20px;
    display: flex;
    gap:78px;
    

}

.header-logo{
    color: var(--mein-wite);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 23.961px;
    font-style: normal;
    font-weight: 900;
    line-height: 80.5%; /* 19.288px */
    letter-spacing: 0.315px;
    text-transform: uppercase;
    width: 158px;
    height: 58px;
}

.header-addres{
    color: var(--mein-wite);
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.header-indonesia{
    color: var(--mein-wite);
    font-family: Roboto;
font-size: 120px;
font-style: normal;
font-weight: 900;
line-height: 130px; /* 108.333% */
text-transform: uppercase;
width: 627px;
height: 260px;
}

.header-dutton{
    color:var(--mein-wite);
text-align: center;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 30px */
background-color: var(--Main-Red);
}

.header-main{
    display: flex; 
}

.header-text{
    color: var(--mein-wite);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.10);
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.header-numer1{
    color: var(--Main-Red);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
}

.header-lorem{
    color: var(--mein-gray);
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
width: 210px;
height: 46px;
}

.header-title{
    color: var(--mein-wite);
    font-family: DM Sans;
font-size: 26.409px;
font-style: normal;
font-weight: 700;
line-height: 41.081px; /* 155.556% */
}
.mein-photo{
    width: 630px;
    height: 460px;
}


.mein-ul1{
    background-color: var(--mein-black) ;
    display: flex;

}

.ind1{
    display: flex;
    flex-direction: column;
}

.ind2{
    display: flex;
    flex-direction: column;
}


.ind4{
    display: flex;
    justify-content: space-around;
    
}

.ind5{
    display: flex;
    justify-content: center;
}


.ind6{
    display: flex;
    justify-content: space-around;
  
}

.ind8{
    display: flex;
    flex-direction: column;
}

.ind9{
    display: flex;
}

.ind10{
    display: flex;
flex-direction: column;
}

.ind11{
    display: flex;
}

.getting{
    background-color: var(--blue);
}

















.mein-ul2{
    background-color: var(--mein-black) ;
    display: flex;
}

.lorem1{
width: 484px;
height: 102px;

}

.lorem2{
    width: 340px;
    height:70px ;
}

.lorem3{
    width: 377px;
    height: 70px;
}

.lorem4{
    width: 340px;
    height: 70px;
}

.our{
    width: 470px;
    height: 84px;
    margin-left: 300px;
}

.mein-ul3{
    display: flex;
    justify-content: center;
}

.mein-sect{
    display: flex;
    justify-content: center;
}

.ind7{
    display: flex;
    flex-direction: colum;
}

.Nlorem{
    width: 334px;
}

.ind12{
    display: flex;
    justify-content: center;
}

.photos{
    display: flex;
    flex-wrap: wrap;
}

.photo1{
    width: 370px;
    height: 530px;
}

.photo2{
    width:370px ;
    height: 210px;
}

.Indonesia9{
    color: var(--mein-wite);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 23.961px;
font-style: normal;
font-weight: 900;
line-height: 90.5%;
letter-spacing: 0.315px;
text-transform: uppercase;
margin: 0%;
}

.footer-logo{
    width: 128px;
    height: 58px;
    padding-top: 48px;
    padding-bottom: 31px;
    padding-left: 116px;
}

.footer-addres{
    display: flex;
    gap: 36px;
    justify-content: center;
    padding: 50px;
}

.wrap{
    display: flex;
}

.footer-cop{
    display: flex;
    justify-content: flex-end;
}















.mein-indonesia{
    color: var(--mein-wite);
font-family: DM Sans;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 119.048% */
width: 479px;
height: 119px;
}

.mein-list{
    background-color: blue;


}

.main-lorem{
    color: var(--mein-gray);
    font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.18px;
width: 407px;
}

.main-button{
    color: var(--mein-wite);
    font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 27px */
background-color: var(--Main-Red);
}

.mein-explore{
    color: var(--mein-black);
text-align: center;
font-family: DM Sans;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 75px */
}

.mein-numbers{
    color:var(--mein-wite);
text-align: center;
font-family: DM Sans;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 90px */
}

.main-lorem2{
    color: var(--mein-gray);
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
text-align: center;

}
.adout-Country{
    background-color: gray;
}

.mein-number{
    color:var(--Main-Red);
text-align: center;
font-family: DM Sans;
font-size: 42.137px;
font-style: normal;
font-weight: 700;
line-height: 49.16px; /* 116.667% */
letter-spacing: 0.386px;
}

.our-hills{
    color: var(--mein-black);
    font-family: DM Sans;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 50px; 
width: 614px;
height: 100px;
text-align: center;
margin-left: 250px;
}

.learn-more{
    color: var(--mein-wite);
    font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 27px */
background-color: var(--Main-Red);
margin-left: 480px;
}

.life{
    color: var(--mein-wite);
    font-family: DM Sans;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 119.048% */
width: 1056px;
height: 142px;
text-align: center;
}

.City{
    color: var(--mein-wite);
    font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 27px */
}

.photo-galery{
    color: var(--mein-black);
    font-family: DM Sans;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 90px */
text-align: center;
padding-bottom: 40px;
margin-bottom: 0px;
}

.photo-text{
    color: var(--mein-gray);
    font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.18px;
width: 511px;
height: 47px;


}

.Getting-there{
    color: var(--mein-black);
/* H2 */
font-family: DM Sans;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 90px */
}

.hgg {
    color: var(--White, #FFF);
font-family: DM Sans;
font-size: 26.409px;
font-style: normal;
font-weight: 500;
line-height: 38.146px; /* 144.444% */
background-color: #DD2242;
width: 58px;
height: 58px;
}

.hotel{
    color: var(--mein-black);
    font-family: DM Sans;
font-size: 26.409px;
font-style: normal;
font-weight: 700;
line-height: 41.081px; /* 155.556% */
}

.lorem-Bookings{
    color: var(--mein-gray);
font-family: DM Sans;
font-size: 23.475px;
font-style: normal;
font-weight: 400;
line-height: 38.146px; /* 162.5% */
}

.button-Bookings{
    color: var(--mein-wite);
    font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 27px */
}

.Explore{
    color: var(--Main-Red);
    font-family: Roboto;
font-size: 23.961px;
font-style: normal;
font-weight: 900;
line-height: 90.5%; /* 21.684px */
letter-spacing: 0.315px;
text-transform: uppercase;
margin: 0%;
}

.Indinesia{
    color: var(--mein-wite);
    font-family: Roboto;
font-size: 23.961px;
font-style: normal;
font-weight: 900;
line-height: 90.5%;
letter-spacing: 0.315px;
text-transform: uppercase;
}

.addres{
    color: var(--mein-wite);
    font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
}

.hjhj{
    color: var(--mein-wite);
    font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
padding-top: 20px;
margin-left: 355px;
}

.footer{
    background-color: var(--mein-black);
}








